# Problem statment:
## Bahamas consider one of most beautiful islands in caribbean, so i am sharing Tours and tickets page dataset in case anyone is interested  to go one day.

link: https://www.kaggle.com/faisalalshuraym/tripadvisor-bahamas-tours-and-tickets-note-book

In [1]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup

# Step 1: Download Html page

In [2]:
html=[]
for i in range(30,480,30):
    response_2 = requests.get('https://www.tripadvisor.com/Attraction_Products-g147414-oa%d-a_sort.-Bahamas.html#ATTRACTION_LIST' %i)
    html.append(response_2.text)

# Step 2: parsing using beautifulsoup

In [3]:
# creating empty lists

page_title=[]
reviews=[]
by=[]
des=[]
price =[]

#creating dictionary for contaning empty lists

tours_and_tickets= {
    'tours': page_title,
    'reviews': reviews,
    'company':by,
    'describtion':des,
    'price':price
}

# web scarping 

for i in html:
    sou=BeautifulSoup(i,'html.parser')
    for k in sou.find_all('div',class_='attraction_clarity_cell'):
        
        page_title.append(k.find('div', class_='listing_title').text)
        des.append(k.find('div', class_='listing_description').text)
        price.append(k.find('div', class_='from').text)
        
        # filling empty cells with 'No review'and 'No company'
        try:
            k.find('span', class_= 'more')
            reviews.append(k.find('span', class_= 'more').text)
        except:
            reviews.append('No review')
            
        try:
            k.find('div', class_= 'listing_duration')
            by.append(k.find('div', class_= 'listing_duration').text)
        except:
            by.append('No company')
            
# creating data frame 

df = pd.DataFrame(tours_and_tickets)

# Step 3: Taking out extra information from Data frame

In [4]:
df['reviews']= df['reviews'].str.replace('reviews','')
df['reviews']= df['reviews'].str.replace('review','')
df['company']= df['company'].str.replace('By:', '')
df['price'] = df['price'].str.replace('from ', '')

# Step 4: Saving Data frame to CSV file

In [5]:
df.to_csv("Bahamas: Tours and Tickets.csv",index=False)

In [6]:
df.head(3)

,tours,reviews,company,describtion,price
0,Discover Atlantis,25,Aquaventure,Visit the Atlantis Paradise Island resort to e...,SAR 165.01
1,"Round trip Airport (LPIA) to Atlantis, Comfort...",No,Rickyluv Bahamas Taxi and Tour,Rickyluv Bahamas Taxi and Tour offers customiz...,SAR 187.51
2,Shared Airport Transfers,2,Courtesy Private Charters,"More than just a ride! Arrive in Nassau,Baham...",SAR 82.50